* {
    padding: 0;
    margin: 2%;
}

h1, h2 {
    background: orangered;
    display: flex;
    justify-content: center;

}

p {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
}


.img img{
    width: 300px;
    height: 300px;
}
